<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.czh.mybatis.mapper.DeptMapper">
    <resultMap id="resultDept" type="Dept">
        <id column="dept_id" property="deptId"></id>
        <result column="dept_name" property="deptName"></result>
    </resultMap>
    <select id="getEmpAndDeptByStepTwo" resultMap="resultDept">
        select * from  t_dept where  dept_id=#{deptid}
    </select>
</mapper>
