<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="userController"  class="com.czh.ssm.spring.Controller.UserController" autowire="byType">
<!--        <property name="userService" ref="userService"></property>-->
    </bean>
    <bean id="userService" class="com.czh.ssm.spring.Service.impl.UserServiceImpl" autowire="byType">
<!--        <property name="userdao" ref="useDao"></property>-->
    </bean>
    <bean id="useDao" class="com.czh.ssm.spring.dao.Impl.UserDaoImpl"></bean>
</beans>