<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<body>
<h1>index.html</h1>
<a th:href="@{/user}">查询所有用户信息</a><br>
<a th:href="@{/user/1}">查询用户id=1信息</a><br>
<form th:action="@{/user}" method="post">
    <input type="submit" value="添加">
</form><br>

<form th:action="@{/user}" method="post">
    <input type="hidden" name="_method" value="put">
    <input type="submit" value="修改">
</form><br><form th:action="@{/user/5}" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="删除">
</form><br>
<hr>
<a th:href="@{/employee}">查询所有员工信息</a><br>
</body>
</html>