<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 需要和实例里的包的名字保持一致-->
<mapper namespace="com.czh.mybatis.mapper.UserMapper">
    <!--int insertUser();-->
    <select id="getUserByUsername" resultType="User">
        select * from t_user where username = #{username}
    </select>
    <select id="CheckLogin" resultType="User">
        select * from t_user where username = #{arg0} and password= #{arg1}
    </select>
    <insert id="insertUser">
        insert into t_user values (null,#{username},#{password},#{age},#{gender},#{eamil})
    </insert>
    <select id="CheckLoginParam" resultType="User">
        select * from t_user where username = #{czh} and password= #{ylt}
    </select>
    <!--useGeneratedKeys 是否使用自增的主键
        insert 是没有返回值的 keyProperty 获取的参数的属性值,将属性值放到参数User的对象上-->
    <insert id="insertUserAndKey" useGeneratedKeys="true" keyProperty="id">
        insert into t_user values (null,#{username},#{password},#{age},#{gender},#{eamil})
    </insert>
</mapper>
